/* font-family: 'Rubik', sans-serif; */

main{
    width: 1440px;
    height: 800px;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    
  
    font-family: 'Rubik', sans-serif;
    }

.one{
   display: flex;
   flex-direction: column;
   
  width: 170px;
    height: 350px;
   background-color:   hsl(246, 80%, 60%);
  color: white;
   margin-left: 60px;
border-radius: 8px;
   }
   .First{
       background-color: hsl(235, 46%, 20%);
       color:  hsl(236, 100%, 87%);
    
    }
    



