/* font-family: 'Rubik', sans-serif; */

main{
    width: 1440px;
    height: 800px;
    background-color: hsl(226, 43%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
section {
    width: 150px;
    height: 300px;
    background-color:  #1e90ff;
    font-family: 'Rubik', sans-serif;
    color: white;
    padding: 0px 0 0 10px;
    margin-left: 60px;
    border-radius: 8px;
}
img {
    width:70px;
    border: 3px solid white;
    border-radius: 50%;
}
div{
    
    background-color:  hsl(235, 46%, 20%);
    width: 160px;
    height: 50px;
    padding-left: 10px;

    margin-left: 60px;
    color:hsl(235, 45%, 61%) ;
    
    
}