body{
  
    background-color: hsl(226, 43%, 10%);
    font-family: 'Rubik', sans-serif;
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-height: 100vh;
    /* align-items: center;
     */
    
   }

   main{
       display: flex;
       flex-direction: row;
       justify-content: center;
       align-items: center;
       height: 300px;
       
 }


/* first column */
.ondru{
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    
        width: 230px;
    height: 300px;
   background-color:   hsl(246, 80%, 60%);
   color: white;
   position: relative;

        right: -12rem;
        padding: 20px 0px 0px 0px;
   border-radius:10px 10px 12px 12px;
  
   
    
  
}
.kk{
    margin-left: 30px;
    
    
}
p{
    
}
/*  first column second block */
    .randru{display: block;
        line-height: 2;
        padding: 20px 0  20px 30px;
        width: 200px;
        height: 100px;
        background-color: hsl(235, 46%, 20%);
        color:  hsl(236, 100%, 87%);
justify-content: space-around;
position: relative;
top: 75px;

   




border-radius:0px 0px 10px 10px;


    }
    .weekly{
        color: white;
    }

/* 1st row grouping(work, play, study) */
     .yen
     {

         display: flex;
         flex-direction: row;
        align-self:flex-start ;
        position: relative;
        right: -13rem;
      
        
         
     }

/* 2nd grouping(exercise, social,selfcare) */

     .the{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        position: relative;
        right: 35rem;
        top:2rem;
       
        
       

     }
     
 
/* 
styling of the 1st row */
.one, .two,.three,.four,.five,.six{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    width: 14rem;
    height: 3rem;
    border-radius: 10px 10px 0px 0px;
    border: 1px solid hsl(226, 43%, 10%);
  }

/* 
styling of the 2nd row */

.work,.play,.study,.exercise,.social,.selfcare{
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 10px 10px;
    background-color:hsl(235, 46%, 20%) ;
    height: 30rem;
    padding:10px 0px 10px 30px;
    
}

h1,h2{
    color: white;
}
p{  
    
    color: hsl(236, 100%, 87%);
}
h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 300;

}
h2{
    font-size:18px;
    margin-bottom: 0px;
    font-weight: 400;
    
    

}

/* 
adding unique background colors */

.one{
    background-color:hsl(15, 100%, 70%);
}
.two{
    background-color:hsl(195, 74%, 62%)
}
.three{
    background-color:hsl(348, 100%, 68%);
}

.four{ background-color:hsl(145, 58%, 55%);

}
.five{
    background-color: hsl(264, 64%, 52%);
}

.six{
    background-color:hsl(43, 84%, 65%);
}


#w,#p,#s, #se{
    display: flex;
    align-self: flex-end ;
    margin-right: 30px;
    width: 30px;
}


#e{
    display: flex;
    align-self: flex-end ;
    margin-right: 30px;
    width: 40px;
}
#so{
    display: flex;
    align-self: flex-end ;
    margin-right: 30px;
    width: 20px;
}



    #j{
        
        width: 70px;
        border: 4px solid white;
     margin-left: 30px;   
     
       border-radius: 50%;
        
    }
    a{
        position: relative;
       left: 9rem;
}

/* hover functionalities
  */
   .Daily:hover,.monthly:hover{
        color:white;
        cursor: pointer;
    }

.uno:hover, .dos:hover ,.dres:hover,.onu:hover,.randu:hover,.munu:hover{
        background-color:#34397b;
        cursor: pointer;
    }
/*    
responsive functions */
  
    @media(max-width: 1000px){
        body{
            display: flex;
            flex-direction: column;
            max-width: 100vw;
            height: 120vh;
                
               
            }
            main{
                display: flex;
                
                
              
            }
            .ondru{
                display: flex;
                flex-direction: column;
                width:21rem ;
                height: 6rem;
               align-self: center;
                 background-color:   hsl(246, 80%, 60%);
               color: white;
               position: relative;
               top: -6rem;
               
              
            border-radius:10px 10px 12px 12px;
            }

            
            .randru{
                
                display: flex;
                flex-direction: row;

                position: relative;
                padding: 10px 70px 10px 66.8px;
                top: -1rem;
               
               
        }
         
        #j {
            width: 50px;
            border: 4px solid white;
            margin-left: 30px;
            border-radius: 50%;
           
        }

#je{
    margin-left:30%;
    position: relative;
    bottom: 3rem;
    
}
#jk{
    margin-left:30%;
    position: relative;
    bottom: 3rem;
    
}
   p,h1,h2{
       font-size: 10px;
   }
   a{
    position: relative;
left: 2.5rem;

}


.yen,.the
     {
         display: flex;
         flex-direction: column;
       
       
         }

         .yen {
            position: relative;
             top: 23rem;
            left: -10rem;

}

        .the{
            align-self: flex-end;
            position: relative;
            right: 10rem;
            top: 20rem;
          
            
        }
        

     
     

        /* top card */

 .Daily{
    position: relative;
    right:4.5rem;
}
.monthly{
    position: relative;
    left: 4rem;
}


  

 
.one{
    position: relative;
   bottom: 10rem;
   
}

.two{
    position: relative;
    bottom: 5rem;
    
}



.three{
    position: relative;
    bottom: .5rem;
}




.four{
    position: relative;
    bottom: 10.3rem;
    
}    




 .five{
    position: relative;
    bottom: 5.5rem;
    
} 
 
.six{
    position: relative;
    bottom: 1rem;
}


@media(max-width: 670px){
    body{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        height: 120vh;
            
           
        }
        main{
            display: flex;
            
            
          }

        .ondru{
            display: flex;
            flex-direction: column;
            width:20rem ;
            height: 6rem;
           align-self: center;
             background-color:   hsl(246, 80%, 60%);
           color: white;
           position: relative;
           top: -6rem;
           
          
        border-radius:10px 10px 12px 12px;
        }

        
        .randru{
            
            display: flex;
            flex-direction: row;

            position: relative;
            padding: 10px 60px 10px 60px;
            top: -1rem;
           
           
    }
     
    #j {
        width: 50px;
        border: 4px solid white;
        margin-left: 30px;
        border-radius: 50%;
       
    }

#je{
margin-left:30%;
position: relative;
bottom: 3rem;

}
#jk{
margin-left:30%;
position: relative;
bottom: 3rem;

}
p,h1,h2{
   font-size: 10px;
}
a{
position: relative;
left: 2.5rem;

}


.yen,.the
 {
     display: flex;
     flex-direction: column;
   
   
     }

     .yen {
        position: relative;
         top: 23rem;
        left: -10rem;

}

    .the{
        align-self: flex-end;
        position: relative;
        right: 10rem;
        top: 50rem;
      
        
    }
    body{
        display: flex;
        flex-direction: column;
        max-width: 100vw;
        height: 120vh;
        align-items: center;
        
            
           
        }
        main{
            display: flex;
         
            
            
          
          
    }
        .ondru{
            display: flex;
            flex-direction: column;
            width:21rem ;
            height: 6.9rem;
           
           
             background-color:   hsl(246, 80%, 60%);
           color: white;
           position:relative;
           right: -24rem;
        
      
           
         
           
          
        border-radius:10px 10px 12px 12px;
        }

        
        .randru{
            
            display: flex;
            flex-direction: row;
            position: relative;
            

            
            padding: 10px 70px 10px 66.8px;
       
            
           
           
    }
     
    #j {
        width: 50px;
        border: 4px solid white;
        margin-left: 30px;
        border-radius: 50%;
       
    }

#je{
margin-left:30%;
position: relative;
bottom: 3rem;
font-size: 18px;

}
#jk{
margin-left:30%;
position: relative;
bottom: 3rem;

}
p,h1,h2{
   font-size: 10px;
}
a{
position: relative;
left: 2.5rem;

}


.yen,.the
 {
     display: flex;
     flex-direction: column;
   
   
     }

     .yen {
       
        position: relative;
         top: 22rem;
        left: 2rem;
        

}

    .the{
       position: relative;
        right: 20.9rem;
        top: 50rem;
      
        }
        .one, .two,.three,.four,.five,.six{
            width: 21.3rem;
            height: 5rem;
        }
 
        .Daily{
            position: relative;
            right: 3rem;

        }
        .monthly{position: relative;
            left: 3rem;
        }
        a{
            margin-left: 70%;
        }
        p{
            margin-left: 60%;
            font-size: 13px;
            position:relative;
            bottom: 2rem;

        }
        h1{
            font-size: 29px;
        }
        h2{
            font-size: 15px;
        }


        .work,.play,.study,.exercise,.social,.selfcare{
            padding: 0px 10px 0px 15px;
        }
        
}
