body{width:100vw;
}



main{
    background-color:hsl(226, 43%, 10%);
    height: 1440px;
    width: 1440px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
   }

.ondru{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 330px;
    bottom: 45px;
    width: 400px;
    height: 340px;
   background-color:   hsl(246, 80%, 60%);
   color: white;
   position: relative;
  border-radius: 13px;
  
    
  
}
.kk{
    margin-left: 30px;
}

    .randru{display:flex;
        flex-direction: column;
        padding: 20px 0  20px 30px;
        width: 200px;
        height: 150px;
        background-color: hsl(235, 46%, 20%);
        color:  hsl(236, 100%, 87%);
justify-content: space-around;
position: relative;
top: 90px;
border-radius:0px 0px 10px 10px;

    }
    .weekly{
        color: white;
    }

     .yen
     {
         display: flex;
         flex-direction: row;
         position: relative;
         left: 350px;
         bottom: 100px;
         
         
     }

     .the{
        display: flex;
        flex-direction: row;
        position: relative;
        top: 140px;
        right: 420px;

     }
     
 


.one, .two,.three,.four,.five,.six{
   
    
    display: flex;
    flex-direction: column;
    justify-content: center;
margin: 1rem;
    width: 14rem;
    height: 13rem;
  border-radius: 10px 10px 0px 0px;
    border: 1px solid hsl(226, 43%, 10%);
  }

.uno,.dos,.dres,.onu,.randu,.munu{
    display: flex;
    flex-direction: column;
    height: 23rem;
    padding: 1rem 0 0 2rem;
   
    border-radius: 10px 10px 10px 10px;
    background-color:hsl(235, 46%, 20%) ;
    }

h1,h2{
    color: white;
}
p{  
    
    color: hsl(236, 100%, 87%);
}
h1{
    font-size: 40px;
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 300;

}
h2{
    font-size:18px;
    margin-bottom: 0px;
    font-weight: 400;
    
    

}




.one{
    background-color:hsl(15, 100%, 70%);
}
.two{
    background-color:hsl(195, 74%, 62%)
}
.three{
    background-color:hsl(348, 100%, 68%);
}

.four{ background-color:hsl(145, 58%, 55%);

}
.five{
    background-color: hsl(264, 64%, 52%);
}

.six{
    background-color:hsl(43, 84%, 65%);
}


#w{
    width: 30px;
    position: relative;
        bottom: px;
        left: 150px;
    }
    #p{
        width: 30px;
        position: relative;
            bottom: px;
            left: 180px;

    }
    #s{
        width: 30px;
        position: relative;
            bottom: px;
            left: 180px;
    }
    #e{
        width: 50px;
        
        position: relative;
            bottom: 8px;
            left: 70px;
    }
    #so{
        width: 25px;
        position: relative;
            bottom: ;
            left: 180px;
    }
    #se{
        width: 30px;
        position: relative;
            bottom: 2px;
            left: 180px;
    }
    a{
        position: relative;
        left: 145px;
        bottom: 20px;
        
    }
    #j{
        
        width: 70px;
        border: 4px solid white;
       margin:20px 0 10px 30px;
       border-radius: 50%;
        
    }
 
    .Daily:hover,.monthly:hover{
        color:white;
        cursor: pointer;
    }

    .uno:hover, .dos:hover ,.dres:hover,.onu:hover,.randu:hover,.munu:hover{
        background-color:#34397b;
        cursor: pointer;
    }
